@import "../root";
@import "../alert";

body {
    background-color: var(--background);

    header {
        width: 100%;
        margin: 10px 0;

        .header-container {
            width: $container;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-logo {
                box-sizing: border-box;
                padding: $paddingXS;
                color: white;
                font-weight: bold;
                border-radius: $borderRadius;

                img {
                    width: 200px;
                    height: auto;
                }

                a {
                    color: inherit;
                }

                h1 {
                    padding: $paddingXS;
                    background-color: var(--paletteColor5);
                    margin: 0;
                    font-size: 25px;
                    border-radius: $borderRadius;
                }
            }

            .header-box {
                img {
                    width: 50px;
                    border-radius: 50%;
                }
            }
        }
    }

    .film-top {
        width: 100%;
        height: 100%;
        width: $container;
        margin: auto;
        border-radius: $borderRadius;
        padding: 10px;

        .film-top-container {
            display: flex;
            flex-direction: column;

            .film-top-header {
                margin-bottom: 7px;

                h3 {
                    padding: 0;
                    margin: 0;
                    color: white;
                    font-weight: bold;
                    font-size: 25px;
                }
            }

            .film-top-body {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                img {
                    border-radius: $borderRadius;
                }
            }
        }
    }

    .film-portal {
        width: $container;
        margin: auto;
        display: grid;
        grid-template-columns: [Main] 1fr [Sidebar] 325px;
        grid-template-areas: "Main Sidebar";
        gap: 20px;
        padding: $paddingXS;
        box-sizing: border-box;

        .film-portal-main {
            grid-area: Main;
            display: flex;
            flex-direction: column;
            height: 100%;
            box-sizing: border-box;


            .film-node {
                .film-node-container {
                    border: 2px solid var(--content);

                    .film-node-header {
                        color: whitesmoke;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 60px;
                        padding: 0 10px;
                        box-sizing: border-box;
                        background-color: var(--content);

                        .node-head {
                            padding: 0;
                            margin: 0;
                            font-size: 20px;
                        }

                        .node-desc {
                            font-size: 12px;
                        }
                    }


                    .film-portal-categories {
                        padding: $paddingXS;
                        gap: 10px;
                        display: grid;
                        grid-template-columns: 200px 200px 200px 200px;

                        .film-categories-body {
                            position: relative;
                            width: 200px;
                            height: 300px;

                            &::before {
                                content: "";
                                background-image: var(--resim);
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-repeat: no-repeat;
                                z-index: -1;
                                border-radius: $borderRadius;
                                filter: brightness(75%);
                            }

                            &:hover {
                                &::before {
                                    filter: brightness(100%);
                                }
                            }

                            .film-score {
                                content: "";
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: darkgoldenrod;
                                font-weight: bolder;
                                right: 0;
                                top: 0;
                                width: 42px;
                                height: 42px;
                                background-color: yellow;
                                border-radius: 50% 0 50% 50%;
                            }


                        }

                    }

                    .film-node-body {
                        position: relative;
                        display: grid;
                        grid-template-columns: [node-icon] 50px [node-main] 1fr [node-stats] 60px [node-extra] 250px;
                        grid-template-areas: "node-icon node-main node-stats node-extra";
                        border-bottom: 1px solid #555555;
                        box-sizing: border-box;
                        padding: 10px 5px;
                        min-height: 80px;
                        justify-content: center;
                        gap: 15px;

                        .node-icon {
                            grid-area: node-icon;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 10px;
                            color: #8c8c8c;
                            font-size: 32px;
                        }

                        .node-main {
                            grid-area: node-main;

                            .main-head {
                                font-size: 17px;
                                font-weight: bold;
                                color: aliceblue;
                            }

                            .main-body {
                                font-size: 12px;
                                color: #8c8c8c;
                            }
                        }

                        .node-stats {
                            grid-area: node-stats;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            gap: 10px;

                            .node-stats-item {
                                box-sizing: border-box;
                                background-color: #555555;
                                padding: 10px;
                                border-radius: $borderRadius;

                                div {
                                    font-size: 12px;
                                }

                                span {
                                    font-size: 15px;
                                }
                            }
                        }

                        .node-extra {
                            position: relative;
                            grid-area: node-extra;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: $paddingXS;

                            &::before {
                                content: "";
                                background-image: var(--resim);
                                background-color: black;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-repeat: no-repeat;
                                z-index: -1;
                                opacity: 0.5;
                                border-radius: $borderRadius;
                                filter: brightness(50%);
                            }

                            .extra-user {
                                img {
                                    width: 32px;
                                    border-radius: 50%;
                                }
                            }

                            .extra-body {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                .extra-title {
                                    width: 200px;
                                    overflow: hidden;
                                    /* taşanları gizle */
                                    white-space: nowrap;
                                    /* alt satıra hiç inme */
                                    text-overflow: ellipsis;

                                    color: white;
                                }

                                .extra-last {
                                    font-size: 14px;
                                    color: #8c8c8c;
                                }
                            }
                        }
                    }
                }
            }
        }

        .film-portal-sidebar {
            grid-area: Sidebar;
            display: flex;
            flex-direction: column;
            background-color: var(--content);
            height: 100vh;
            border-radius: $borderRadius;
        }
    }

    .film-container {
        position: relative;
        width: $container;
        margin: auto;

        .film-inner {
            position: relative;
            background-color: var(--content);
            border-radius: 7px;
            padding: $paddingXS;

            .film-head {
                box-sizing: border-box;
                width: 100%;
                height: 500px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &::before {
                    content: '';
                    position: absolute;
                    background-image: var(--resim);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    z-index: 1;
                    height: 100%;
                    opacity: 0.8;
                    border-radius: 7px;
                    filter: brightness(50%);
                }

                .film-title {
                    padding: 0px 20px;
                    font-size: 32px;
                    color: white;
                    z-index: 2;
                }
            }

            .film-body {
                min-height: 50vh;
                display: grid;
                grid-template-columns: [Main] 1fr [Sidebar] 325px;
                grid-template-areas: "Main Sidebar";
                gap: 20px;

                .film-main {
                    padding: 10px;
                    grid-area: Main;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    box-sizing: border-box;
                    color: rgba($contentBg, 0.5);

                    .film-comment {
                        position: relative;

                        h1 {
                            color: white;
                        }

                        textarea {
                            box-sizing: border-box;
                            width: 100%;
                            min-height: 200px;
                            background-color: rgba($contentBg, 0.2);
                            color: white;
                            border: none;
                            border-radius: $borderRadius;
                            padding: 10px;
                            resize: none;
                            margin-bottom: $marginS;

                            &:hover,
                            &:focus,
                            &:focus-visible,
                            &:focus-within {
                                border: none;
                                outline: 0;
                            }

                            &::placeholder {
                                color: white;
                            }
                        }

                        button {
                            float: right;

                        }



                    }


                    .film-comments {
                        .film-comments-box {
                            display: table;
                            table-layout: fixed;
                            width: 100%;
                            margin: 0;
                            position: relative;

                            .film-comments-box-image {
                                display: table-cell;
                                vertical-align: top;
                                text-align: left;
                                padding: $paddingS;
                                width: 40px;

                                img {
                                    border-radius: 50%;
                                    width: 48px;
                                    height: 48px;
                                }
                            }

                            .film-comments-box-body {
                                box-sizing: border-box;
                                display: table-cell;
                                vertical-align: top;
                                align-items: center;
                                padding: $paddingS $paddingS;
                                gap: 5px;

                                .username {
                                    font-weight: 600;
                                    color: white;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }


                }

                .film-sidebar {
                    grid-area: Sidebar;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--content);
                    border-radius: $borderRadius;
                    padding: $paddingS;
                    text-align: left;
                    color: rgba($contentBg, 0.5);

                    dl,
                    dt,
                    dd {
                        margin: 8px 0;
                    }

                    dd {
                        color: white;
                        margin-inline-start: 5px;

                        a {
                            color: inherit;

                            &:hover {
                                color: whitesmoke;
                            }
                        }
                    }
                }

            }






        }
    }


    footer {
        margin: 20px 0;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 15px;
    }


    .auth-container {
        width: $container;
        margin: auto;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .auth-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 7px;
            rotate: -200px;

            .auth-box {
                display: flex;
                position: relative;
                box-sizing: border-box;
                padding: 50px 20px;
                border-radius: 20px;
                min-height: 50vh;
                width: 600px;
                background-color: var(--content);
                flex-direction: column;
                align-items: center;
                box-shadow: var(--paletteColor3) 0px 0px 10px;
                gap: 10px;

                img {
                    max-width: 350px;
                }

                .auth-body {
                    display: flex;
                    flex-direction: row;

                    input {
                        width: 450px;
                        padding: 10px;
                    }

                    button {
                        float: right;
                    }
                }
            }
        }
    }

}