@import "../root";

body {
    background-color: var(--background);

    header {
        width: 100%;
        .header-container {
            width: $container;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-logo {
                a {
                    color: inherit;
                }
                color: white;
                font-weight: bold;
            }
            .header-box {
                img {
                    width: 50px;
                    border-radius: 50%;
                }
            }
        }
    }

    .film-top {
        width: 100%;
        height: 100%;
        width: $container;
        margin: auto;
        border-radius: $borderRadius;
        padding: 10px;

        .film-top-container {
            display: flex;
            flex-direction: column;
            .film-top-header {
                margin-bottom: 7px;
                h3 {
                    padding: 0;
                    margin: 0;
                    color: white;
                    font-weight: bold;
                    font-size: 25px;
                }
            }
            .film-top-body {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                img {
                    border-radius: $borderRadius;
                }
            }
        }
    }

    .film-portal {
        width: $container;
        margin: auto;
        display: grid;
        grid-template-columns: [Main] 1fr [Sidebar] 325px;
        grid-template-areas: "Main Sidebar";
        gap: 20px;
        padding: 5px;
        box-sizing: border-box;

        .film-portal-main {
            grid-area: Main;
            display: flex;
            flex-direction: column;
            height: 100%;
            box-sizing: border-box;


            .film-node {
                .film-node-container {
                    border: 2px solid var(--content);
                    .film-node-header {
                        color: whitesmoke;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 60px;
                        padding: 0 10px;
                        box-sizing: border-box;
                        background-color: var(--content);
                        .node-head {
                            padding: 0;
                            margin: 0;
                            font-size: 20px;
                        }
                        .node-desc {
                            font-size: 12px;
                        }
                    }


                    .film-portal-categories {
                        padding: 5px;
                        gap: 10px;
                        display: grid;
                        grid-template-columns: 200px 200px 200px 200px;
        
                        .film-categories-body {
                            position: relative;
                            width: 200px;
                            height: 300px;

                                &::before {
                                    content: "";
                                    background-image: var(--resim);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    z-index: -1;
                                    border-radius: 4px;
                                    filter: brightness(75%);
                                   }
                                   &:hover {
                                    &::before {
                                        filter: brightness(100%);
                                    }
                                   }

                                   .film-score {
                                    content: "";
                                    position: absolute;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: darkgoldenrod;
                                    font-weight: bolder;
                                    right: 0;
                                    top: 0;
                                    width: 42px;
                                    height: 42px;
                                    background-color: yellow;
                                    border-radius: 50% 0 50% 50%;
                                   }


                        }
        
                    }

                    .film-node-body {
                        position: relative;
                        display: grid;
                        grid-template-columns: [node-icon] 50px [node-main] 1fr [node-stats] 120px [node-extra] 250px;
                        grid-template-areas: "node-icon node-main node-stats node-extra";
                        border-bottom: 1px solid #555555;
                        box-sizing: border-box;
                        padding: 10px 5px;
                        min-height: 80px;
                        justify-content: center;
                        gap: 15px;
                        
                        .node-icon {
                            grid-area: node-icon;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 10px;
                            color: #8c8c8c;
                            font-size: 32px;
                        }
                        .node-main {
                            grid-area: node-main;
                            .main-head {
                                font-size: 17px;
                                font-weight: bold;
                                color: aliceblue;
                            }
                            .main-body {
                                font-size: 12px;
                                color: #8c8c8c;
                            }
                        }
                        .node-stats {
                            grid-area: node-stats;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            gap: 10px;
                            .node-stats-item {
                                box-sizing: border-box;
                                background-color: #555555;
                                padding: 10px;
                                border-radius: $borderRadius;
                                div {
                                    font-size: 12px;
                                }
                                span {
                                    font-size: 15px;
                                }
                            }
                        }
                        .node-extra {
                            position: relative;
                            grid-area: node-extra;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 5px;
                           &::before {
                            content: "";
                            background-image: var(--resim);
                            background-color: black;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            z-index: -1;
                            opacity: 0.5;
                            border-radius: 4px;
                            filter: brightness(50%);
                           }
                            .extra-user {
                                img {
                                    width: 32px;
                                    border-radius: 50%;
                                }
                            }
                            .extra-body {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                .extra-title {
                                    width: 200px;
                                    overflow: hidden; /* taşanları gizle */
                                    white-space: nowrap; /* alt satıra hiç inme */
                                    text-overflow: ellipsis;
                             
                                    color: white;
                                }
                                .extra-last {
                                    font-size: 14px;
                                    color: #8c8c8c;
                                }
                            }
                        }
                    }
                }
            }
        }

        .film-portal-sidebar {
            grid-area: Sidebar;
            display: flex;
            flex-direction: column;
            background-color: var(--content);
            height: 100vh;
            border-radius: $borderRadius;
        }
    }
}
