@charset "UTF-8";
:root {
  font-family: "Roboto", sans-serif;
  --background: #040B0E;
  --content: #292F32;
  --red: #E83430;
  --textColor: black;
  --textLightColor: white;
  --textLightHover: azure;
  --mavi: #2075D7;
  --koyumavi: #19579D;
  --acikmavi: #a3cced;
  --contentAltBg: #f5f5f5;
  --pageBg: #ececec;
  --paletteColor1: rgb(237, 246, 253);
  --paletteColor2: rgb(188, 222, 245);
  --paletteColor3: rgb(71, 167, 235);
  --paletteColor4: rgb(37, 119, 177);
  --paletteColor5: rgb(24, 88, 134);
  --paletteColor6: rgba(22, 79, 121,1);
  --buttonBg: rgb(37, 119, 177);
  --buttonPrimaryBg: rgb(71, 167, 235);
  --buttonCtaBg: rgb(242, 147, 13);
  --borderColor1: rgb(216, 216, 216);
  --borderColor2: rgb(203, 203, 203);
  --linkColor: rgb(37, 119, 177);
  --linkHoverColor: rgb(24, 88, 134);
}

button,
.button,
a.button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  text-align: center;
  color: white;
  background-color: var(--buttonBg);
}
button:hover,
.button:hover,
a.button:hover {
  color: azure;
  background-color: var(--paletteColor5);
}
button.button--primary,
.button.button--primary,
a.button.button--primary {
  background-color: var(--buttonPrimaryBg);
}
button.button--cta,
.button.button--cta,
a.button.button--cta {
  background-color: var(--buttonCtaBg);
}

body {
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: var(--linkColor);
}
body a:hover {
  color: var(--linkHoverColor);
}

body {
  background-color: var(--background);
}
body header {
  width: 100%;
  margin: 10px 0;
}
body header .header-container {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header-container .header-logo {
  box-sizing: border-box;
  padding: 6px;
  background-color: var(--paletteColor5);
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
body header .header-container .header-logo a {
  color: inherit;
}
body header .header-container .header-logo h1 {
  padding: 0;
  margin: 0;
  font-size: 25px;
}
body header .header-container .header-box img {
  width: 50px;
  border-radius: 50%;
}
body .film-top {
  width: 100%;
  height: 100%;
  width: 1200px;
  margin: auto;
  border-radius: 4px;
  padding: 10px;
}
body .film-top .film-top-container {
  display: flex;
  flex-direction: column;
}
body .film-top .film-top-container .film-top-header {
  margin-bottom: 7px;
}
body .film-top .film-top-container .film-top-header h3 {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
body .film-top .film-top-container .film-top-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body .film-top .film-top-container .film-top-body img {
  border-radius: 4px;
}
body .film-portal {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: [Main] 1fr [Sidebar] 325px;
  grid-template-areas: "Main Sidebar";
  gap: 20px;
  padding: 5px;
  box-sizing: border-box;
}
body .film-portal .film-portal-main {
  grid-area: Main;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
body .film-portal .film-portal-main .film-node .film-node-container {
  border: 2px solid var(--content);
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-header {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: var(--content);
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-header .node-head {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-header .node-desc {
  font-size: 12px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-portal-categories {
  padding: 5px;
  gap: 10px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-portal-categories .film-categories-body {
  position: relative;
  width: 200px;
  height: 300px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-portal-categories .film-categories-body::before {
  content: "";
  background-image: var(--resim);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 4px;
  filter: brightness(75%);
}
body .film-portal .film-portal-main .film-node .film-node-container .film-portal-categories .film-categories-body:hover::before {
  filter: brightness(100%);
}
body .film-portal .film-portal-main .film-node .film-node-container .film-portal-categories .film-categories-body .film-score {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgoldenrod;
  font-weight: bolder;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  background-color: yellow;
  border-radius: 50% 0 50% 50%;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body {
  position: relative;
  display: grid;
  grid-template-columns: [node-icon] 50px [node-main] 1fr [node-stats] 120px [node-extra] 250px;
  grid-template-areas: "node-icon node-main node-stats node-extra";
  border-bottom: 1px solid #555555;
  box-sizing: border-box;
  padding: 10px 5px;
  min-height: 80px;
  justify-content: center;
  gap: 15px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-icon {
  grid-area: node-icon;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #8c8c8c;
  font-size: 32px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-main {
  grid-area: node-main;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-main .main-head {
  font-size: 17px;
  font-weight: bold;
  color: aliceblue;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-main .main-body {
  font-size: 12px;
  color: #8c8c8c;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-stats {
  grid-area: node-stats;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-stats .node-stats-item {
  box-sizing: border-box;
  background-color: #555555;
  padding: 10px;
  border-radius: 4px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-stats .node-stats-item div {
  font-size: 12px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-stats .node-stats-item span {
  font-size: 15px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-extra {
  position: relative;
  grid-area: node-extra;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-extra::before {
  content: "";
  background-image: var(--resim);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
  border-radius: 4px;
  filter: brightness(50%);
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-extra .extra-user img {
  width: 32px;
  border-radius: 50%;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-extra .extra-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-extra .extra-body .extra-title {
  width: 200px;
  overflow: hidden;
  /* taşanları gizle */
  white-space: nowrap;
  /* alt satıra hiç inme */
  text-overflow: ellipsis;
  color: white;
}
body .film-portal .film-portal-main .film-node .film-node-container .film-node-body .node-extra .extra-body .extra-last {
  font-size: 14px;
  color: #8c8c8c;
}
body .film-portal .film-portal-sidebar {
  grid-area: Sidebar;
  display: flex;
  flex-direction: column;
  background-color: var(--content);
  height: 100vh;
  border-radius: 4px;
}
body .film-container {
  position: relative;
  width: 1200px;
  margin: auto;
}
body .film-container .film-inner {
  position: relative;
  background-color: var(--content);
  border-radius: 7px;
  padding: 5px;
}
body .film-container .film-inner .film-head {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .film-container .film-inner .film-head::before {
  content: "";
  position: absolute;
  background-image: var(--resim);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
  height: 100%;
  opacity: 0.8;
  border-radius: 7px;
  filter: brightness(50%);
}
body .film-container .film-inner .film-head .film-title {
  padding: 0px 20px;
  font-size: 32px;
  color: white;
  z-index: 2;
}
body .film-container .film-inner .film-body {
  min-height: 50vh;
  display: grid;
  grid-template-columns: [Main] 1fr [Sidebar] 325px;
  grid-template-areas: "Main Sidebar";
  gap: 20px;
}
body .film-container .film-inner .film-body .film-main {
  padding: 10px;
  grid-area: Main;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  color: rgba(254, 254, 254, 0.5);
}
body .film-container .film-inner .film-body .film-main .film-comment {
  position: relative;
}
body .film-container .film-inner .film-body .film-main .film-comment h1 {
  color: white;
}
body .film-container .film-inner .film-body .film-main .film-comment textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  background-color: rgba(254, 254, 254, 0.2);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  resize: none;
  margin-bottom: 10px;
}
body .film-container .film-inner .film-body .film-main .film-comment textarea:hover, body .film-container .film-inner .film-body .film-main .film-comment textarea:focus, body .film-container .film-inner .film-body .film-main .film-comment textarea:focus-visible, body .film-container .film-inner .film-body .film-main .film-comment textarea:focus-within {
  border: none;
  outline: 0;
}
body .film-container .film-inner .film-body .film-main .film-comment textarea::-moz-placeholder {
  color: white;
}
body .film-container .film-inner .film-body .film-main .film-comment textarea::placeholder {
  color: white;
}
body .film-container .film-inner .film-body .film-main .film-comment button {
  float: right;
}
body .film-container .film-inner .film-body .film-sidebar {
  grid-area: Sidebar;
  display: flex;
  flex-direction: column;
  background-color: var(--content);
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  color: rgba(254, 254, 254, 0.5);
}
body .film-container .film-inner .film-body .film-sidebar dl,
body .film-container .film-inner .film-body .film-sidebar dt,
body .film-container .film-inner .film-body .film-sidebar dd {
  margin: 8px 0;
}
body .film-container .film-inner .film-body .film-sidebar dd {
  color: white;
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
body .film-container .film-inner .film-body .film-sidebar dd a {
  color: inherit;
}
body .film-container .film-inner .film-body .film-sidebar dd a:hover {
  color: whitesmoke;
}
body footer {
  margin: 20px 0;
  width: 100%;
  height: 250px;
  text-align: center;
  color: white;
}/*# sourceMappingURL=main.css.map */