@import '../root';
@import 'sidebar';
@import 'table';
@import 'form';




html,body {
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--pageBg);
    .main-container {
        display: flex;
        height: 100%;
        main {
            padding: 0;
            margin: 0;
            width: calc(100% - #{$sidebar});
            padding: max($paddingM);
            flex-grow: 1;
            overflow: auto;
            .content {
                max-width: 1100px;
                margin: auto;
                box-sizing: border-box;
                width: 100%;
                padding: $paddingM;
                color: black;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .content-header {
                    display: flex;
                    flex-wrap: wrap;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        padding: 0;
                        margin: 0;
                    }
                    .ch-left {
                        margin-right: auto;
                    }
                    .ch-right {
                        margin-left: auto;
                    }
                }
                .content-body {
                    background-color: $contentBg;
                    border-radius: $borderRadius;
                    &.content-row {
                        padding: $paddingS;
                    }
                }
            }
        }


        .film {
            position: relative;
            margin: 10px 0;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 10px;
            font-weight: bold;
            &::before {
                content: "";
                background-image: var(--resim);
                background-color: black;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.5;
                border-radius: 4px;
                filter: brightness(50%);
            }
            .film-container {
                display: flex;
                gap: 20px;
                .film-img {
                    width: 64px;
                    height: 100%;
                    img {
                        width: 64px;
                        height: 100%;
                        border-radius: 4px;
                    }
                }
            }
        }



    }
}